package ${basePackage}.module.${table.moduleName}.dal.dataobject.${table.businessName};

import lombok.*;
import java.util.*;
#foreach ($column in $columns)
#set($bigDecimalCount = 0)
#set($localDateTimeCount = 0)
#if (${column.javaType} == "BigDecimal" && $bigDecimalCount == 0)
#set($bigDecimalCount = $bigDecimalCount + 1)
import java.math.BigDecimal;
#end
#if (${column.javaType} == "LocalDateTime" && $localDateTimeCount == 0)
#set($bigDecimalCount = $bigDecimalCount + 1)
import java.time.LocalDateTime;
#end
#end
import com.baomidou.mybatisplus.annotation.*;
import ${BaseDOClassName};

/**
 * ${table.classComment} DO
 *
 * @author ${table.author}
 */
@TableName("${table.tableName.toLowerCase()}")
@Data
@Builder
@NoArgsConstructor
@AllArgsConstructor
public class ${table.className}DO {

#foreach ($column in $columns)
###if (!${baseDOFields.contains(${column.javaField})})##排除 BaseDO 的字段
    /**
     * ${column.columnComment}
    #if ("$!column.dictType" != "")##处理枚举值
     *
     * 枚举 {@link TODO ${column.dictType} 对应的类}
    #end
     */
    #if (${column.primaryKey})##处理主键
    @TableId#if (${column.javaType} == 'String')(type = IdType.INPUT)#end
    #end
    #if (${column.javaField.equals("isDeleted")})##处理主键
    @TableLogic
    #end
    private ${column.javaType} ${column.javaField};
###end
#end

}
