package ${basePackage}.module.Rcontroller.${sceneEnum.basePackage}.${table.businessName};

import org.springframework.web.bind.annotation.*;
import javax.annotation.Resource;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import org.springframework.validation.annotation.Validated;
import org.springblade.core.tool.api.R;
import javax.validation.constraints.*;
import javax.validation.*;


import ${basePackage}.Rcontroller.${sceneEnum.basePackage}.${table.businessName}.vo.*;
import ${basePackage}.Rdal.dataobject.${table.businessName}.${table.className}DO;
import ${basePackage}.Rconvert.${table.businessName}.${table.className}Convert;
import ${basePackage}.Rservice.${table.businessName}.${table.className}Service;

@RestController
@RequestMapping("/${simpleClassName_strikeCase}")
@Validated
public class ${sceneEnum.prefixClass}${table.className}Controller {

    @Resource
    private ${table.className}Service ${classNameVar}Service;

    /**
    * 创建${table.classComment}
    */
    @PostMapping("/create")
    public R<${primaryColumn.javaType}> create${simpleClassName}(@Valid @RequestBody ${sceneEnum.prefixClass}${table.className}CreateReqVO createReqVO) {
        return R.data(${classNameVar}Service.create${simpleClassName}(createReqVO));
    }
    /**
    * 更新${table.classComment}
    */
    @PutMapping("/update")
    public R<Boolean> update${simpleClassName}(@Valid @RequestBody ${sceneEnum.prefixClass}${table.className}UpdateReqVO updateReqVO) {
        ${classNameVar}Service.update${simpleClassName}(updateReqVO);
        return R.data(true);
    }

    /**
     * 删除${table.classComment}
     */
    @DeleteMapping("/delete")
    public R<Boolean> delete${simpleClassName}(@RequestParam("id") ${primaryColumn.javaType} id) {
        ${classNameVar}Service.delete${simpleClassName}(id);
        return R.data(true);
    }

    /**
    * 获得${table.classComment}
    */
    @GetMapping("/get")
    public R<${sceneEnum.prefixClass}${table.className}RespVO> get${simpleClassName}(@RequestParam("id") ${primaryColumn.javaType} id) {
        ${table.className}DO ${classNameVar} = ${classNameVar}Service.get${simpleClassName}(id);
        return R.data(${table.className}Convert.INSTANCE.convert(${classNameVar}));
    }

    /**
    * ${table.classComment}分页
    */
    @GetMapping("/page")
    public R<IPage<${sceneEnum.prefixClass}${table.className}RespVO>> get${simpleClassName}Page(Page<${table.className}DO> page, @Valid ${sceneEnum.prefixClass}${table.className}PageReqVO pageVO) {
        IPage<${table.className}DO> IPage = ${classNameVar}Service.get${simpleClassName}Page(pageVO);
        return R.data(${table.className}Convert.INSTANCE.convertPage(IPage));
    }
}
