package ${basePackage}.controller.${table.businessName}.vo;

import lombok.*;
#foreach ($column in $columns)
#if (${column.javaType} == "LocalDateTime")
import java.time.LocalDateTime;
#break
#end
#end

@Data
public class ${sceneEnum.prefixClass}${table.className}RespVO {

#foreach ($column in $columns)
###if (${column.listOperationResult} && (!${column.createOperation} || !${column.updateOperation}))##不是通用字段
#if (${column.listOperationResult})##不是通用字段
    /**
    * ${column.columnComment}
    */
    #if(${column.javaType} == "LocalDateTime")
    @JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss")
    #end
    #if(${column.javaField} == "createUser" || ${column.javaField} == "updateUser")
    private String ${column.javaField};
    #else
    private ${column.javaType} ${column.javaField};
    #end

#end
#end
}
